:root{
    --bg-body:#001E52;
    --txt-body:#FFFFFF;
    --family-body:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --txt-second:#F0AB01;
    --header-heigth:150px;
}
html{
    font-size:62.5%;
    line-height: 1.5;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    background-color: var(--bg-body);
    color: var(--txt-body);
    font-family: var(--family-body);
    font-size: 1.6rem;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}
/*Reset de los botones*/
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    color: white;
}

/*Clases reutilizables*/
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}

/*NavBar*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-heigth);
    z-index: 5;
    background: linear-gradient(rgb(6, 6, 126), blue);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}
.logo{
    font-size: 30px;
    font-weight: 700;
}
.logo span{
    color: var(--txt-second)
}
.btn-close{
    display: none;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}
/*de 0 a 768px*/
@media (max-width:768px){
    .nav-menu {
        position: fixed;
        top: var(--header-heigth);
        left: -100%;
        width: 95%;
        height: calc(95vh - var(--header-heigth));
        padding: 60px 20px 40px;
        background: linear-gradient(blue, white);
        transition: left .5s ease-in-out;
                
    }
    .show-menu{
        left: 0;
    }
    .btn-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 28px;
        display: block;
    }
    .menu-list{
        flex-direction: column;
    }
}
/* desde 7868px para arriba */
@media (min-width: 768px){
    .btn-open{
        display: none;
    }
}


.list-link {
    transition: color .3s;
    font-weight: 600;
    font-size: 18px;
.list-link:hover {
    color: var(--txt-second);
}
.actions {
    display: flex;
    gap: 5px;
    align-items: center;
}
.actions button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    color: white;
}
button.btn-open {
    font-size: 28px;
}
a {
    color: inherit;
    text-decoration: none;
}

/*53"*/